<div class="parent clearfix">
  <div class="bg-illustration">
    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="login">
    <div class="container">
      <h1 class="h1-text">Welcome to STAR POP</h1>
      <div class="login-form">
        <form action="">
          <input
            type="text"
            placeholder="First Name"
            name="firstname"
            id="firstname"
          />
          <input
            type="text"
            placeholder="Last Name"
            name="lastname"
            id="lastname"
          />
          <input
            type="tel"
            placeholder="Mobile Number"
            name="mobile"
            id="mobile"
          />
          <input
            type="email"
            placeholder="E-mail Address"
            name="email"
            id="email"
          />
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
          />
          <input
            type="password"
            placeholder="Re Enter Password"
            name="repassword"
            id="repassword"
          />

          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
