<nav class="navbar navbar-light" style="background-color: #5674c3">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link disabled"
          style="color: white; font-size: larger; font-family: cursive"
          ><b>Welcome to StarPop</b></a
        >
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link active"
          style="color: white !important"
          aria-current="page"
          routerLink="/login"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="color: white !important"
          routerLink="/registraion"
          >SignIn</a
        >
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span style="font-size: 48px; color: #6868da">
        <i class="fa-solid fa-star fa-bounce"><b>StarPop</b> </i>
      </span>
    </a>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outlin-succes" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
