<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a
          class="nav-link disabled"
          style="color: dodgerblue; font-size: larger; font-family: cursive"
          ><b>Welcome to StarPop</b></a
        >
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SignIn</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span style="font-size: 48px; color: Dodgerblue">
        <i class="fa-solid fa-star fa-bounce"><b>StarPop</b> </i>
      </span>
    </a>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outlin-succes" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
